<% if (title){ %>
    <h1><%= title %></h1>
    <%} else {
        res.redifect('/')
    } %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
            <%  }) %>
        </ul>
    <%} %>
    <%- messages() %>
   <div id="accountManagement">
    <% if(locals.accessLevel > 1)
    { %>
        <h2>Welcome <%- accountData.account_firstname %></h2>
        <h3>Inventory Management</h3>
        <p><a href="/inv">Inventory Management</a></P>
        <h3>Account Update</h3>
        <p><a href="/account/accountUpdate"> Update Account Information</a></p>
    <%} else {%>
        <h2>Welcome <%- accountData.account_firstname %></h2>
        <h3>Account Update</h3>
        <p><a href="/account/accountUpdate"> Update Account Information</a></p>
    <%}%>
   </div>